

<main class="main">
  <div class="content">
    <table mat-table [dataSource]="dataSource">
        <!-- title Column -->
        <ng-container matColumnDef="story-title">
          <th mat-header-cell *matHeaderCellDef> Title </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        <!-- link Column -->
        <ng-container matColumnDef="story-link">
          <th mat-header-cell *matHeaderCellDef> Link </th>
          <td mat-cell *matCellDef="let element"> {{element.link}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="50" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
    </mat-paginator>
  </div>
</main>


<router-outlet />
